* {
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;

}

html {
    background-color: #e7e7e7;
}

::-webkit-scrollbar {
    display: none;
}

/* all pages */
.container {
    display: block;
    height: 100%;
    padding-top: 150px;
}

.project-title{
    display: block;
    width: fit-content;
    min-width: 5%;
    max-width: 40%;
    overflow: clip;
    outline: none;
    text-overflow:ellipsis;
    white-space: nowrap;
    border-radius: 25px;
    padding: 3px;
    padding-inline: 20px;
    background-color: #f1f1f1;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
	font-weight: 700;
}

.project-title:focus, .project-title:active{
    max-width: 100vw;
    overflow: hidden;
    text-overflow: clip;
}

.delete-section{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

/* set of two pages */
.pages-container, .covers-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5% 95%;
    width: 100%;
    height: 100%;
    height: fit-content;
}

.pages-container-print {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5% 95%;
    width: 100%;
    height: 100%;
    height: fit-content;
}


/* group of page and toolbar */
.editor {
    height: auto;
    padding: 10px;
    margin-bottom: 1rem;
    display: inline;    
}

/*page*/
[class^="page-"], .cover {

    grid-row-start: 2;
    background-color: white;
    box-shadow: 0px 5px 10px 0px #dadada;
    width: 5.5in;
    aspect-ratio: 5.5/8.5;
    display: grid;
    row-gap: 1.5%;
    column-gap: 2%;
    padding: 1%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    justify-content: center;
}


/*toolbar*/


.tools {
    background-color: transparent;
    content-visibility: visible;
    width: fit-content;
    height: fit-content;
    padding: 0;
    border-radius: 50px;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
}


button {
    cursor: pointer;
}

.delete-button {
    margin-top: 20px;
    margin-left: 10px;
    position: absolute;
    z-index: 50S;
    background-color: transparent;
}

.text-button, .img-button {
    background-color: transparent;
    position: relative;
    top: 50%;
    

}
.text-button{
    left:50%;
}


/*all buttons*/
.format-button, .pages-button,#fontSize, .menubutton, .text-button, .img-button, .dropdownbutton, .dropdownoption, .delete-button{
    text-align: center;
    transition: .6s ease;
    border: none;
}

/*content editing buttons*/
.format-button, .pages-button, .text-button, .img-button, .delete-button{
    margin-inline: .25rem;
    padding: 5px;
    width: 3rem;
    height: 3rem;
    border-radius: 100% ;
}

/*top section*/
.top-bar {  
    position: fixed;
    z-index: 30;
    width: 100%;
    background-color: #e7e7e7;
    padding: 10px;
    top: 0; 
    border-bottom: 1px dotted #dadada;
    box-shadow: 0px 0px 10px #969696;
}

/*subsection of top-bar (contains file buttons)*/
.menu{
    border-radius: 25px;
    padding: 5px;
    padding-inline: 20px;
    background-color: #f1f1f1;
    margin-top: 10px;
    

/*home, delete, and save buttons*/
}
.menubutton{
    margin-inline: .01rem;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border-radius: 7px;
}
#fontSize{
    margin-inline: .01rem;
    width: 4rem;
    height: 2rem;
    background-color: transparent;
    border-radius: 7px;
    
}


.dropdownbutton{
    margin-inline: .01rem;
    width: 3.5rem;
    height: 2rem;
    background-color: transparent;
    border-radius: 7px;
    display: inline-block;
    cursor: pointer;
}

.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}


.hide {
    visibility: hidden;
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
}

/* The actual popup */
.popup {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
.popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

@-webkit-keyframes fadeOut {
    from {opacity: 1;} 
    to {opacity: 0;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity:0 ;}
}

/*delete button*/
#delete {
    float: right;
}

.format-button:hover, .pages-button:hover,#fontSize:hover,.menubutton:hover, .text-button:hover, .img-button:hover, .dropdownbutton:hover, .dropdownoption:hover, .delete-button:hover{

    background-color: rgb(206, 206, 206);

}

.format-button:active, .pages-button:active,#fontSize:active, .menubutton:active, .text-button:active, .img-button:active, .dropdownbutton:active, .dropdownoption:active, .delete-button:active{

    background-color: rgb(136, 136, 136);
    transition: .2s ease;

}

/* Popup container - can be anything you want */
.format-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
.format-button .format-text {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }

  
  .contentContainer{
    pointer-events:none;
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    display:flex;
    justify-content:center;
    align-items:center;
}


.content  {
    pointer-events:all;
    width: 75vw;
    aspect-ratio: 8.5/5.5;
    padding: 2%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3%;
    user-select: none;
    background-color: rgb(194, 194, 194);
    text-align: center;
    border-radius:1vw;
    visibility: hidden;
    z-index: 11;
    position: absolute;
} 


.color {
    background-color: #00000070;
}

.format-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
  }
  
  
.show {
    visibility: visible;
  }
  

/*button that creates new pages*/
.pages-button {
    width: 4.5rem;
    height: 4.5rem;
    margin-top: -100%;
    background-color: white;
    box-shadow: 0px 5px 10px 0px #dadada;
}

/*parent div of page-button*/
.bottom-bar {
    height: 3rem;
    padding: .25rem;
    text-align: center;
}

/*
this adds placeholder text to the text boxes
.placeholder cannot be used normally because it is a content editable div
*/
[contenteditable=true]:empty:not(:focus):before{
    content: attr(placeholder);
    pointer-events: none;
    opacity: 0.5;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
  }

#formatButtonImage {
    margin:1vw;
    width:12vw;
    aspect-ratio: 5.5/8.5;
}

#formatButtonImage:hover {
    cursor:pointer;
    transform:scale(1.1,1.1);
}


/*
styling for Iphone screens and smaller
changes layout
*/
@media only screen and (max-width: 768px) {

.pages-container, .covers-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 100vh 100vh;
    width: 100%;
    height: fit-content;
}

.delete-section{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.page {
    min-width: 330px;
    min-height: 510px;
    aspect-ratio: 5.5/8.5;
}

.pages-button {
    margin: 0%;
}

.bottom-bar {
    height: auto;
    padding-bottom: 1rem;
}
}

#image{
    object-fit: cover;   
    width: 100%;
    height:100%;
}

#imageDelete{
    z-index:10;
    position:absolute;   
    width: 5%;
    height:10%;
    text-align: center;
    transition: .6s ease;
    border: none;

    margin-inline: .25rem;
    padding: 5px;
    width: 3rem;
    height: 3rem;
    
    border-radius: 100% ;
}

#imageDelete:hover{
    visibility:visible;
    background-color: rgb(206, 206, 206);
}

#imageDelete:active{
    background-color: rgb(136, 136, 136);
    transition: .2s ease;
}

.text-box {
    width:inherit;
    height:inherit;
    overflow: auto;
    outline: none;
    transition: all .4s ease;
}

.text-box:hover {
    border: 2px dotted #612733;
    
}

.text-box:focus {
    border: 2px solid #793140;
}

.project-title{
    display: block;
    width: fit-content;
    min-width: 5%;
    max-width: 40%;
    overflow: clip;
    outline: none;
    text-overflow:ellipsis;
    white-space: nowrap;
    border-radius: 25px;
    padding: 3px;
    padding-inline: 20px;
    background-color: #f1f1f1;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:700;
    font-size: xx-large;
}

.project-title:focus, .project-title:active{
    max-width: 100vw;
    overflow: hidden;
    text-overflow: clip;
}
@media print{


    * {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        scroll-behavior: smooth;
    
    }
    
    
    /* all pages */
    .container {
        display: block;
        height: 100%;
    }
    
    .text-button, .image-button, span {
        display:none;
    }

/*     .text-button[title], .image-button[title]{
	    display:none;
    } */

    /* set of two pages */
    .pages-container, .covers-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100%;
        width: 100%;
        height: fit-content;
        page-break-after: always;
    }
    
    
    /* group of page and toolbar */
    .editor {
        padding: 0; 
        margin-bottom: 0;
 
    }
    
    /*page*/
    [class^="page-"] {
        box-shadow: none;
        max-height: 100%;
        padding: 0;
    }

    .top-bar {
        display: none;
    }
    
    @page{
        size: landscape;
        margin:0 auto;

    }
}
